<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
      {% block title %}{% endblock %}
    </title>
    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
    {% block head %}{% endblock %}
  </head>
  <body>
    {% for msg in get_flashed_messages() %}
    <p class="flash-msg">
      {{ msg }}
    </p>
    {% endfor %}
    {% if 'username' in session and username is not none %}
    <h3>Welcome, {{ username }}!</h3>
        <h4>Family Members:</h4>
        <ul>
            {% for member in family_members %}
                {% if member.username != username %}
                    <li>{{ member.name }}: {{ member.username }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        <a href="/logout">Log Out</a>
    {% else %}
      <h5>You are not logged in</h5>
    {% endif %}
    {% block body %}{% endblock %}

    {% block after_body %}{% endblock %}
  </body>
</html>