{% extends 'base.html' %}
{% block title %}Let's see if this works{% endblock %}
{% block head %}
<!-- <link rel="stylesheet" href='/static/css/style.css' /> -->
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/fullcalendar@3.10.2/dist/fullcalendar.min.css' />
  <script src='https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@3.10.2/dist/fullcalendar.min.js'></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  
  <style>
    #calendar {
      max-width: 900px;
      margin: 0 auto;
    }
  </style>
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
      <div class="col-sm">

<!-- <center>
    <div style="background-color: #c2c2d6; padding: 20px; 
      width: 100px; border: 1px solid black;">parenting time</div>
  </center> -->
  <div id='calendar'></div>

  <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="eventModalLabel"></h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="show-event-data">
            <!-- <div id="show-event-title"></div>
            <br> -->
            <div id="show-event-time"></div>
            <br>
            <div id="show-event-description"></div>
          </div>
          <hr>
          <div id="event-change-section">
            <h5>Modify Event</h5>
            <br>
            <form id="changeEventForm" method="PATCH" action="/modify-event/<id>">
                New title:
                <input type="text" name="eventTitle" placeholder="New Title">
                <br>
                New start time:
                <input type="datetime-local" name="eventStart">
                <br>
                New end time:
                <input type="datetime-local" name="eventEnd">
                <br>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <br>
                <button type="submit" form="changeEventForm" class="btn btn-primary">Save Changes</button>
            </form>
          </div>
          <div id="event-delete-section">
            <form>
                <hr>
                <h5>Delete Event</h5>
                <br>
                You can only delete events you have created. Delete event?
                <button type ="button" id="delete-button" class="btn btn-primary" data-url="/delete-event/">
                Yes, delete this event</button>
            </form>
          </div>
          <div id="error-message" style="display: none;">
            <!-- Placeholder for displaying error message -->
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

</div>
<div class="col-sm">

  <ul class="nav nav-tabs" id="add-to-calendar" role="tablist">
    <li class="nav-item" role="presentation" id="parenting-schedule-tab-tab">
      <button class="nav-link active" id="parenting-schedule-tab" data-bs-toggle="tab" 
        data-bs-target="#parenting-schedule" type="button" role="tab" 
        aria-controls="parenting-schedule" aria-selected="true">
        Set Parenting Schedule</button>
    </li>
    <li class="nav-item" role="presentation" id="add-event-tab-tab">
      <button class="nav-link" id="add-event-tab" data-bs-toggle="tab" 
        data-bs-target="#add-event" type="button" role="tab" 
        aria-controls="add-event" aria-selected="false">
        Add Event</button>
    </li>
    <li class="nav-item" role="presentation" id="add-holiday-tab-tab">
      <button class="nav-link" id="add-holiday-tab" data-bs-toggle="tab" 
        data-bs-target="#add-holiday" type="button" role="tab" 
        aria-controls="add-holiday" aria-selected="false">
        Add Holiday</button>
    </li>
  </ul>
  <div class="tab-content" id="add-to-calendarContent">
    <div class="tab-pane fade show active" id="parenting-schedule" role="tabpanel" 
        aria-labelledby="parenting-schedule-tab">
        <h5>Parenting Schedule</h5>
        <form action="/create-parenting-schedule" method="POST" id="parenting-schedule-form">
            When does this parenting schedule start?
            <br>
            <input type="date" 
                    id="parenting-schedule-start" 
                    name="parenting-schedule-start">
            <br>
            <br>
            Which parent will start their parenting time on that day?
            <br>
            <input type="radio" id="parent-a" name="parenting-schedule-parent-start" value="true">
            <label for="parent-a">current user</label>
            <input type="radio" id="parent-b" name="parenting-schedule-parent-start" value="false">
            <label for="parent-b">other parent</label>
            <br>
            <br>
            For how many days in a row are you the custodial parent?
            <br>
            <input type="number" name="parenting-schedule-cycle-duration" id="parenting-schedule-cycle-duration">
            <br>
            <br>
            <input type="submit" id="parenting-schedule-submit">
        </form>
    </div>
    <div class="tab-pane fade" id="add-event" role="tabpanel" 
        aria-labelledby="add-event-tab">
        <h5>Events</h5>
        <form action='/create-event' method='POST' id="event-form">
            <label for="event-start">When does this event start?</label>
            <br>
                <input type="datetime-local" id="event-start"
                    name="event-start">
            <br>
            <br>
            <label for="event-end">When does this event end?</label>
            <br>
                <input type="datetime-local" id="event-end"
                    name="event-end">
            <br>
            <br>
            <label for="event-label">Enter a name for this event:</label>
            <br>    
                <input type="text" id="event-label" name="event-label">
            <br>
            <br>
            <label for="event-description">Enter a description for this event:</label>
            <br>    
                <input type="text" id="event-description" name="event-description">
            <br>
            <br>
            <label for="event-shared">Should this event be shared with your family group?</label>
            <br> 
                <input type="radio" id="event-shared-yes" name="event-shared" value="true">
                <label for="yes">Yes</label>
                <input type="radio" id="event-shared-no" name="event-shared" value="false">
                <label for="no">No</label>
            <br>
            <br>
            <label for="event-with-parent">Which parent is attending this event?</label>
            <br> 
                <input type="radio" id="parent-a" name="event-with-parent" value="parent-a">
                <label for="parent-a">Parent A this should be like user_name but we'll get there</label>
                <input type="radio" id="parent-b" name="event-with-parent" value="parent-b">
                <label for="parent-b">Parent B</label>
                <input type="radio" id="both-parents" name="event-with-parent" value="both-parents">
                <label for="both-parents">Both Parents</label>
                <input type="radio" id="neither-parent" name="event-with-parent" value="neither-parent">
                <label for="neither-parent">Neither Parent</label>
            <br>
            <br>
            <input type="submit" id="event-submit">
        </form>
    </div>
    <div class="tab-pane fade" id="add-holiday" role="tabpanel" 
        aria-labelledby="add-holiday-tab">
            <h5>Holidays</h5>
            <form action='/create-holiday' method='POST' id="holiday-form">
                <label for="holiday-start">When does this holiday start?</label>
                <br>
                <input type="datetime-local" id="holiday-start"
                    name="holiday-start">
                <br>
                <br>
                    <label for="holiday-end">When does this holiday end?</label>
                <br>
                    <input type="datetime-local" id="holiday-end"
                        name="holiday-end">
                <br>
                <br>
                    <label for="holiday-label">Enter a name for this holiday:</label>
                <br>    
                    <input type="text" id="holiday-label" name="holiday-label">
                <br>
                <br>
                    <label for="holiday-description">Enter a description for this holiday:</label>
                <br>    
                    <input type="text" id="holiday-description" name="holiday-description">
                <br>
                <br>
                <label for="holiday-with-parent">Which parent has parenting time for this holiday?</label>
                <br>
                    <input type="radio" id="parent-a-holiday" name="holiday-with-parent" value="parent-a">
                    <label for="parent-a-holiday">Parent A</label>
                    <input type="radio" id="parent-b-holiday" name="holiday-with-parent" value="parent-b">
                    <label for="parent-b-holiday">Parent B</label>
                    <input type="radio" id="current-parent" name="holiday-with-parent" value="current-parent">
                    <label for="current-parent">Current Parent</label>
                    <input type="radio" id="non-current-parent" name="holiday-with-parent" value="non-current-parent">
                    <label for="non-current-parent">Non-current Parent</label>
                    <input type="radio" id="both-parents-holiday" name="holiday-with-parent" value="both-parents">
                    <label for="both-parents-holiday">Both Parents</label>
                <br>
                <br>
                <label for="change-default-schedule">Does this holiday change the default parenting schedule?</label>
                <br> 
                    <input type="radio" id="yes" name="change-default-schedule" value="true">
                    <label for="yes">Yes</label>
                    <input type="radio" id="no" name="change-default-schedule" value="false">
                    <label for="no">No</label>
                <br>
                <br>
                <!-- <input type="submit" id="holiday-submit"> -->
                </form>
                <section id="change-default-schedule-section">
                    <form action="/create-new-default-schedule" method="POST" id="new-default-schedule-form">
                        <h6>Change Default Schedule</h6>
                        <label for="default-schedule-parent">Which parent has parenting time the first part of this schedule?</label>
                        <br>
                            <input type="radio" id="parent-a-start" name="default-schedule-parent" value="true">
                            <label for="parent-a-start">current user</label>
                            <input type="radio" id="parent-b-start" name="default-schedule-parent" value="false">
                            <label for="parent-b-start">other parent</label>
                        <br>
                        <br>
                            <label for="default-schedule-start">When does this schedule start?</label>
                        <br>
                            <input type="date" id="default-schedule-start"
                                name="default-schedule-start">
                        <br>
                        
                    </form> 
                </section>
                <br>
                <input type="submit" id="holiday-submit">
    </div>
  </div>



</div>
</div>
</div>


<div id="details-here"></div>
<script src='/static/js/show-calendar-info.js'></script>
<script src='/static/js/get-info.js'></script>
{% endblock %}
