



{% extends 'base.html' %}
{% block title %}Let's see if this works{% endblock %}
{% block head %}
<link rel="stylesheet" href='/static/css/style.css' />
{% endblock %}
{% block body %}

<p>idk here's some events i guess</p>
<p>lol just kidding there are no events learn how to use javascript</p>
<h2>Events</h2>
<form action='/create-event' method='POST' id="events">
<label for="event-start">When does this event start?</label>
<br>
<input type="datetime-local" id="event-start"
       name="event-start"
       min="2023-06-07T00:00" max="2026-06-14T00:00">
<br>
<br>
    <label for="event-end">When does this event end?</label>
<br>
    <input type="datetime-local" id="event-end"
           name="event-end"
           min="2023-06-07T00:00" max="2026-06-14T00:00">
<br>
<br>
    <label for="event-label">Enter a name for this event:</label>
<br>    
    <input type="text" id="event-label" name="event-label">
<br>
<br>
    <label for="event-description">Enter a description for this event:</label>
<br>    
    <input type="text" id="event-description" name="event-description">
<br>
<br>
    <label for="event-shared">Should this event be shared with the other parent's calendar?</label>
<br> 
    <input type="radio" id="event-shared-yes" name="event-shared" value="true">
    <label for="yes">Yes</label>
    <input type="radio" id="event-shared-no" name="event-shared" value="false">
    <label for="no">No</label>
<br>
<br>
<label for="event-with-parent">Which parent is attending this event?</label>
<br> 
    <input type="radio" id="parent-a" name="event-with-parent" value="parent-a">
    <label for="parent-a">Parent A this should be like user_name but we'll get there</label>
    <input type="radio" id="parent-b" name="event-with-parent" value="parent-b">
    <label for="parent-b">Parent B</label>
    <input type="radio" id="both-parents" name="event-with-parent" value="both-parents">
    <label for="both-parents">Both Parents</label>
    <input type="radio" id="neither-parent" name="event-with-parent" value="neither-parent">
    <label for="neither-parent">Neither Parent</label>
<br>
<br>
    <input type="submit">
</form>

<h2>Holidays</h2>
<form action='/create-holiday' method='POST' id="holidays">
    <label for="holiday-start">When does this holiday start?</label>
    <br>
    <input type="datetime-local" id="holiday-start"
           name="holiday-start"
           min="2023-06-07T00:00" max="2026-06-14T00:00">
    <br>
    <br>
        <label for="holiday-end">When does this holiday end?</label>
    <br>
        <input type="datetime-local" id="holiday-end"
               name="holiday-end"
               min="2023-06-07T00:00" max="2026-06-14T00:00">
    <br>
    <br>
        <label for="holiday-label">Enter a name for this holiday:</label>
    <br>    
        <input type="text" id="holiday-label" name="holiday-label">
    <br>
    <br>
        <label for="holiday-description">Enter a description for this holiday:</label>
    <br>    
        <input type="text" id="holiday-description" name="holiday-description">
    <br>
    <br>
    <label for="holiday-with-parent">Which parent has parenting time for this holiday?</label>
    <br>
        <input type="radio" id="parent-a-holiday" name="holiday-with-parent" value="parent-a">
        <label for="parent-a-holiday">Parent A</label>
        <input type="radio" id="parent-b-holiday" name="holiday-with-parent" value="parent-b">
        <label for="parent-b-holiday">Parent B</label>
        <input type="radio" id="current-parent" name="holiday-with-parent" value="current-parent">
        <label for="current-parent">Current Parent</label>
        <input type="radio" id="non-current-parent" name="holiday-with-parent" value="non-current-parent">
        <label for="non-current-parent">Non-current Parent</label>
        <input type="radio" id="both-parents-holiday" name="holiday-with-parent" value="both-parents">
        <label for="both-parents-holiday">Both Parents</label>
    <br>
    <br>
    <label for="change-default-schedule">Does this holiday change the default parenting schedule?</label>
    <br> 
        <input type="radio" id="yes" name="change-default-schedule" value="true">
        <label for="yes">Yes - if yes need to make a new default schedule</label>
        <input type="radio" id="no" name="change-default-schedule" value="false">
        <label for="no">No</label>
    <br>
    <br>
    <section id="change-default-schedule" style="display: none;">
    <h2>Change Default Schedule</h2>
    <label for="default-schedule-parent">Which parent has parenting time the first part of this schedule?</label>
    <br>
        <input type="radio" id="parent-a-start" name="default-schedule-parent" value="parent-a-start">
        <label for="parent-a-start">Parent A</label>
        <input type="radio" id="parent-b-start" name="default-schedule-parent" value="parent-b-start">
        <label for="parent-b-start">Parent B</label>
    <br>
    <br>
        <label for="default-schedule-start">When does this schedule start?</label>
    <br>
        <input type="datetime-local" id="default-schedule-start"
               name="default-schedule-start"
               min="2023-06-07T00:00" max="2026-06-14T00:00">

    <br>
    </section>
    
        <input type="submit">
    </form> 

<div id="details-here"></div>

<script src='/static/js/get-info.js'></script>
{% endblock %}
