{% extends 'base.html' %}
{% block head %}
<!-- <link rel="stylesheet" href='/static/css/style.css' /> -->
<script src='https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js'></script>
{% endblock %}
{% block body %}
<style>
body {
    background-image: url(/static/uploads/eric-rothermel-FoKO4DpXamQ-unsplash.jpg);
    background-size: 100%;
    background-blend-mode: darken;
  }
  
  .login-div {
    background-color: #f7faff;
    position: absolute; 
    top: 50%; 
    left: 40%; 
    padding: 15px; 
    border-radius: 7px; 
    opacity: 80%;
    border: 1px solid;
    border-color: #818181;
  }

</style>

<div class="container login">
  <div class="login-div">
    <div class="mb-3">
        <h1>CoParenting Calendar</h1>
    </div>
    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#loginModal">Log in</button>
    &nbsp;&nbsp;
    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#signupModal">Sign Up</button>
  
    </div>
<!-- </div> -->
</div>



<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="loginModal">Log in</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="/login" method="POST" id="login-form">
                <div class="form-group row mb-2">
                    <div class="col-sm-4">              
                        <label for="username">Username:</label>
                    </div>
                    <div class="col-sm-8"> 
                        <input type="text" id="username" name="username" required>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <div class="col-sm-4">
                        <label for="password">Password:</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="password" id="password" name="password" required>
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-outline-secondary">Log in</button>
            </form>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signupModal">Sign Up</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="/signup" method="POST" id="signup-form">
                <div class="form-group row mb-2">
                    <div class="col-sm-4">
                        <label for="first-name">First Name:</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" id="first-name" name="first-name" required>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <div class="col-sm-4">
                        <label for="new-username">Username:</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" id="new-username" name="new-username" required>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <div class="col-sm-4">
                        <label for="new-password">Password:</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="password" id="new-password" name="new-password" required>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <div class="col-sm-4">
                        <label for="is-child">Child account?</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="checkbox" class="form-check-input" id="is-child" name="is-child">
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-outline-secondary">Create Account</button>
            </form>
        </div>
        
      </div>
    </div>
  </div>


{% endblock %}