{% extends 'base.html' %}
{% block head %}
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script> -->
<script src="https://kit.fontawesome.com/6429eb5f97.js" crossorigin="anonymous"></script>

{% endblock %}
{% block body %}



<style>

  .form-col {
    margin-right: 10px; 
    width: 32%; 
    height: auto;
    background-color: white;
    display: inline-block;
  }

  .top-row {
    padding-top: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .bottom-row {
    padding-bottom: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .message-holder {
      word-break: normal;
      overflow-wrap: break-word;
      max-width: 100%;
      overflow-y: auto;
      max-height: 420px;
      min-height: 420px;
      padding: 5px;
      background-color: white;
      border-radius: 10px;
      margin: 3px;
    }

  body {
    background-color: #f7faff;
  }
  
  .card {
    height: 600px;
    margin: 5px;
  }

  .content-block {
    overflow-y: auto;
    max-height: 450px;
    padding: 5px;
  }

  .list-item {
  display: flex;
  align-items: center;
  }

  .delete-icon {
  margin-left: auto;
  }

  .form-control:focus {
    box-shadow: none; 
    -webkit-box-shadow: none;
  }

  .messages:focus {
    border-color: #0DCAF0;
    box-shadow: none; 
    -webkit-box-shadow: none;
  } 

  .lists:focus {
    border-color: #198754;
    box-shadow: none; 
    -webkit-box-shadow: none;
  } 

  .files:focus {
    border-color: #ffc107;
    box-shadow: none; 
    -webkit-box-shadow: none;
  }

  .has-error .form-control:focus {
    box-shadow: none; 
    -webkit-box-shadow: none;
  }

  .accordion-button:not(.collapsed) {
    color: black;
    background-color: #d2ebd2;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  .accordion-button .active {
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  .accordion-button:focus {
    border-color:#d2ebd2;
    box-shadow: none;
  }
  /* style="border: 3px; border-color: #119da4" */
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Calendar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/uploads">Shared Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

<div class="container">
    <div class="row gy-5">
        <div class="col-sm">
            <div id="alert-holder">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row gx-4">
      <div class="col" id="lists-col">
        <div class="card border-success" style="border: 1px solid;">
          <div class="card-body">
            <h2>Shared Lists</h2>
            <br>
            <form action="/create-list" method="POST" id="new-list">
              <div class="input-group">
                <input type="text" placeholder="List name" aria-label="list name" class="form-control lists" name="list-title" id="list-title">
                <button class="btn btn-outline-success" type="submit" id="list-create-button"><i class="fa-solid fa-plus"></i></button>
              </div>
            </form>
            <br>
            <div class="message-holder" style="padding-bottom: -8px;">
              <div id="list-container" class="accordion"></div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col" id="files-col">
        <div class="card border-warning" style="border: 1px solid;">
          <div class="card-body">
            <h2>Shared Files</h2>
            <br>
            <div class="col-sm-12">
              <form action="/create-file" method="POST" id="new-upload" enctype="multipart/form-data">
                <div class="form-group-row">    
                  <div class="input-group">
                    <input type="text" placeholder="File name" aria-label="file name" class="form-control files" name="file-title" id="file-title">
                    <button class="btn btn-outline-warning" type="button" id="file-uploader"><i class="fa-solid fa-cloud-arrow-up"></i></button>
                  </div>
                </div>
                <input type="file" class="form-control-file" id="invisible-file-input" name="file" style="display: none;">
                <input type="submit" id="new-file-submit" class="btn btn-primary" value="Upload File" style="display: none;">
              </form>
            </div>
            <br>
            <div class="message-holder" style="padding-bottom: -8px;">
              <div id="file-container" class="list-group"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- style="margin-right: 10px; width: 32%; height: auto;" display="inline-block" -->
      <div class="col" id="messages-col">
        <div class="card border-info" style="border: 1px solid;">
          <div class="card-body">
            <h2>Family messaging</h2>
              <div class="form-group row">
                <label for="staticMessages"></label>
                <div class="col-sm-12">
                  <input type="text" readonly class="form-control-plaintext">
                  <div id="message-holder" class="message-holder"></div>              
                </div>
              </div>
              <form action="/create-message" id="new-message" method="POST">
                <div class="input-group" style="padding-top: 10px;">
                  <input type="text" aria-label="message content" class="form-control messages" name="inputMessage" id="inputMessage">
                  <button class="btn btn-outline-info" type="submit" id="new-message-submit"><i class="fa-regular fa-paper-plane"></i></button>
                </div>
              </form>         
            </div>
          </div>
        </div>
    </div>
</div>
<br>
<br>





















<script src="/static/js/get-upload-info.js"></script>
{% endblock %}